/* ここから下に記載していく */

/* ロゴとメニュー */
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 1200px;
    margin: 0 auto;
  }
  
  .menu {
    display: flex;
    width: 50%;
    justify-content: space-between;
  }
  
  .menu li a {
    color: black;
    text-decoration: none;
    font-size: 21px;
    font-weight: bold;
    /* 遅延させるおまじない */
    transition: all 1s;
  }
  
  .menu li a:hover {
    opacity: 0.3;
    color: red;
  }

  /* 画像とテキストの箇所 */

  .box {
    background-image: url(../img/mainbg.png);
    height: 500px;
    width: 1200px;
    margin: 0 auto 60px;
  }
  
  .box__sekai {
    color: white;
    font-size: 48px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 30px;
    padding-top: 170px;
  }
  
  .box__cheeze {
    font-size: 30px;
    text-align: center;
    color: white;
  }

  .about__title {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 30px;
    color: peachpuff;
  }
  .about__sub {
    font-size: 18px;
    text-align: center;
    margin-bottom: 60px;
  }
  
  .about__texta {
    text-align: center;
    font-size: 16px;
    margin-bottom: 40px;
    line-height: 1.8;
    color: gray;
  }
  .about__textb {
    text-align: center;
    font-size: 16px;
    margin-bottom: 40px;
    line-height: 1.8;
    color: gray;
  }
  .about__textc {
    text-align: center;
    font-size: 16px;
    margin-bottom: 40px;
    line-height: 1.8;
    color: gray;
  }
  .about__textd {
    text-align: center;
    font-size: 16px;
    margin-bottom: 80px;
    line-height: 1.8;
    color: gray;
  }
  .contaner{
      display: flex;
      width: 1200px;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 60px;
  }
  .block{
      width: auto;
  }
  .course__title {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    margin-top: 100px;
    margin-bottom: 30px;
    color: black;
  }
  .course__texta {
    text-align: center;
    font-size: 16px;
    margin-bottom: 60px;
    line-height: 1.8;
    color: gray;
  }
  /* たがい違い */
.coursebox {
    /* border: 10px solid red; */
    margin: 0 auto;
    width: 1200px;
    display: flex;
    overflow: hidden;
  }
  .coursebox__hanten {
    margin: 0 auto;
    width: 1200px;
    display: flex;
    flex-direction: row-reverse;
    overflow: hidden;
  }
  
  .imgbox {
    width: 50%;
    display: block;
    transition-duration: .5s;
  }
  
  .imgbox img {
    width: 100%;
  }
  
  .imgbox:hover{
    transform: scale(1,1.2);
  }

  .imgbox__hanten {
    width: 50%;
    display: block;
    transition-duration: .5s;
  }
  
  .imgbox__hanten img {
    width: 100%;
  }
  
  .imgbox__hanten:hover {
    transform: scale(1,0.8);
  } 


  .textbox {
    width: 40%;
    padding: 120px 0px 0px 50px;
    box-sizing: border-box;
  }
  .textbox__title {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  .coursebox__hanten {
    padding: 0px 0px 0px 0px;
  }
  
  .textbox__text {
    font-size: 16px;
    line-height: 1.8;
  }

  .textbox__hanten {
    width: 40%;
    padding: 120px 50px 0px 0px;
    box-sizing: border-box;
  }
  .imgbox__hanten {
    width: 50%;
  }

  /* ニュース */

.news__title {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    margin-top: 60px;
    margin-bottom: 30px;
    color: orange;
  }
  .news__sub {
    font-size: 18px;
    text-align: center;
    margin-bottom: 60px;
  }

  .news__text {
    text-align: center;
    font-size: 14px;
    margin-bottom: 60px;
    line-height: 1.8;
    color: gray;
  }

  .news__img {
   width: 300px;
   margin: 0px auto;
  }
  
  .news__day {
   text-align: left;
   font-size: 16px;
   margin-top: 30px;
   margin-bottom: 24px;
  }

  .newsbox {
    display: flex;
    justify-content: space-between;
    width: 960px;
    margin-left: auto;
    margin-right: auto;
  }

  .newsbox__a:hover{
    transform: scale(.95, .95);
  }

  .newsbox__b:hover{
    transform: scale(.95, .95);
  }

  .newsbox__c:hover{
    transform: scale(.95, .95);
  }
  .imgBox {
    display: flex;
    justify-content: center;
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    border: 10px solid #f00;
  }
  
  .imgBox img {
    width: 100%;
  }

  .more {
    width: 300px;
    height: 60px;
    background: orange; 
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 60px; 
    transition: all 1s linear 0s;
	border-radius: 75%;
	cursor: pointer;
  }

  .more__text {
    font-size: 18px;
    text-align: center;
    color: whitesmoke;
    padding-top: 21px;
    transition: all 1s linear 0s;
	cursor: pointer;
  }

  .more:hover {
    transform: rotateY(360deg);
  }
  .more .more__text:hover {
    transform: rotateY(360deg);
  }
  
  .access {
    width: 1200px;
    height: 790px;
    background: azure;
    margin-left: auto;
    margin-right: auto;
  }

  .access__title{
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    padding-top: 60px;
    margin-bottom: 30px;
  }

  .access__sub {
    text-align: center;
    font-size: 18px;
    margin-bottom: 60px;
  }

  .access__text {
	margin: 50px auto;
	text-align: center;
	display: block;
    font-size: 16px;
 }
 .access__abcde {
    display: inline-block;
    text-align: left;
    line-height: 50px;
 }


  .contact__title {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    padding-top: 60px;
    margin-bottom: 30px;
  }

  .contact__sub {
    text-align: center;
    font-size: 18px;
    margin-bottom: 60px;
  }

  .contact__texta {
    text-align: center;
    font-size: 16px;
    margin-bottom: 30px;
  }

  .contact__textb {
    text-align: center;
    font-size: 16px;
    margin-bottom: 70px;
  }



  .info {
    width: 1200px;
    margin: 0 auto 500px;
    /* background: antiquewhite; */
  }
  
  .infoBox {
    display: flex;
    justify-content: center;
    padding: 10px;
    width: 600px;
    margin: 0 auto;
    align-items: center;
  }
  .infoBox__title {
    width: 30%;
  }
  
  .infoBox__text {
    width: 70%;
    line-height: 1.6;
  }



  .pg012 {
    background-color:white;
    margin-left: auto;
    margin-right: auto;
    width: 800px;
    }
    input[type="text"],input[type="email"]{
        border: solid 1px rgb(8, 8, 8);
        border-radius:5px;
        font-size: 15px;
        margin-top: 15px;
        margin-left: 20px;
        margin-bottom: 15px;
        width:400px;  
        height: 30px;
    }
    select{
        display: inline-block;
        margin-left: 20px;
        margin-top: 15px;
        margin-bottom: 15px;
        width:400px;
        height: 30px;
        }
table{
  text-align: left;
  table-layout: auto;
  width: 800px;
  margin-bottom: 60px;
}
table, td, th {
    border: 2px #777474 solid;
}
.td1-1{
    width: 300px;
    margin-right: 64px;
}
.reason1{
    display: block;
    font-size: 15px;
    margin-top: 15px;
    margin-bottom: 24px;
    margin-left: 20px;
    }
.reason2{
    display: block;
    font-size: 15px;
    margin-bottom: 24px;
    margin-left: 20px;
    }
.reason3{
    display: block;
    font-size: 15px;
    margin-bottom: 24px;
    margin-left: 20px;    
}
.reason4{
    display: block;
    font-size: 15px;
    margin-bottom: 24px;
    margin-left: 20px;
    }


.td6-1 {
    text-align: left;
    vertical-align: top;
    padding-top: 15px;
}
.content-label2{
    text-align: top;
}
  textarea {
    border: solid 1px rgb(8, 8, 8);
    border-radius:5px;
        width: 400px;
        height: 150px;
        margin-left: 20px;
        margin-top: 15px;
        margin-bottom: 15px;
    }

    .send {
        width: 300px;
        height: 60px;
        background: orange; 
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 60px;
        cursor: pointer;
	    transition: all 0.3s ease 0s;
      }
    
      .send__text {
        font-size: 18px;
        text-align: center;
        color: whitesmoke;
        padding-top: 21px;
        padding-bottom: 21px;
        cursor: pointer;
	    transition: all 0.3s ease 0s;
      }
    
      .send .send__text:hover{
        background:whitesmoke;
        border: 2px solid orange;
      }
     .send__text:hover{
       color: orange;
     }

    .footer {
     width: 1200px;
     height: 80px;
     background: #707070;
     margin-left: auto;
     margin-right: auto;
     margin-top: 140px;
    }
    .footer__title {
      text-align: center;
      vertical-align: middle;
      color: ivory;
      padding-top: 30px;
      padding-bottom: 30px;  
    }




     figure {
        position: relative;
        overflow: hidden;
        width: 300px;
      }
      figcaption {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 2;
        width: 100%;
        height: 100%;
        background: rgba(0,0,0,.6);
        -webkit-transform: rotate(90deg) scale(0);
        transform: rotate(90deg) scale(0);
        -webkit-transition: .3s;
        transition: .3s;
        opacity: 0;
      }
      figure:hover figcaption {
        -webkit-transform: rotate(360deg) scale(1);
        transform: rotate(360deg) scale(1);
        opacity: 1;
      }

      .contaner__a{
        display: flex;
        width: 1200px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 60px;

    }
    .block__a{
        width: auto;
    }

    .block__b{
        width: auto;
    }

    .block__c{
        width: auto;
    }

    .block__d{
        width: auto;
    }

    .cheeese__title{
        color: orange;
        text-align: center;
        vertical-align: middle;
        padding-top: 150px;
        padding-bottom: 100px;
        font-size: 100px;
    }

    .cheeese__sub{
        color: palegoldenrod;
        text-align: center;
        vertical-align: middle;
        font-size: 50px;
        
    }
    html{
        scroll-behavior: smooth;
    }

    body{
        animation: bgchange 20s ease infinite;/*変化の時間を変更したい場合は20sの部分を好きな時間に変更*/
      }
      
      @keyframes bgchange{
            0%   {background:#ffe6e1;}/*変化させたい色*/
            25%  {background:#fdcb9e;}/*変化させたい色*/
            50%  {background:#fdcbc1;}/*変化させたい色*/
            75%  {background:#ffff8c;}/*変化させたい色*/
            90%  {background:#b2dffb;}/*変化させたい色*/
            100% {background:#ffe6e1;}/*変化させたい色*/
       }


/*==================================================
スライダーのためのcss
===================================*/
.slider {
    width: 600px;
	/*↑z-indexの値をh1のz-indexの値よりも小さくして背景に回す*/
	height: 400px;/*スライダー全体の縦幅を画面の高さいっぱい（100vh）にする*/
    margin-left: auto;
    margin-right: auto;
}
/*　背景画像設定　*/

.slider-item01 {
    background:url(../img/about_04.jpg);
    width: 600px;
}

.slider-item02 {
    background:url(../img/about_03.jpg);
    width: 600px;
}

.slider-item03 {
    background:url(../img/about_02.jpg);
    width: 600px;
}

.slider-item04 {
    background:url(../img/about_01.jpg);
    width: 600px;
}

.slider-item {
    width: 600px;/*各スライダー全体の横幅を画面の高さいっぱい（100%）にする*/
    height: 400px;
    background-repeat: no-repeat;/*背景画像をリピートしない*/
    background-position: center;/*背景画像の位置を中央に*/
    background-size: cover;/*背景画像が.slider-item全体を覆い表示*/
}

/*矢印の設定*/

/*戻る、次へ矢印の位置*/
.slick-prev, 
.slick-next {
    position:absolute;/*絶対配置にする*/
	z-index: 3;
    top: 42%;
    cursor: pointer;/*マウスカーソルを指マークに*/
    outline: none;/*クリックをしたら出てくる枠線を消す*/
    border-top: 2px solid #ccc;/*矢印の色*/
    border-right: 2px solid #ccc;/*矢印の色*/
    height: 25px;
    width: 25px;
}

.slick-prev {/*戻る矢印の位置と形状*/
    left:2.5%;
    transform: rotate(-135deg);
}

.slick-next {/*次へ矢印の位置と形状*/
    right:2.5%;
    transform: rotate(45deg);
}

/*ドットナビゲーションの設定*/

.slick-dots {
	position: relative;
	z-index: 3;
    text-align:center;
	margin:-50px 0 0 0;
}

.slick-dots li {
    display:inline-block;
	margin:0 5px;
}

.slick-dots button {
    color: transparent;
    outline: none;
    width:8px;/*ドットボタンのサイズ*/
    height:8px;/*ドットボタンのサイズ*/
    display:block;
    border-radius:50%;
    background:#ccc;/*ドットボタンの色*/
}

.slick-dots .slick-active button{
    background:#333;/*ドットボタンの現在地表示の色*/
}